h3 Navigation
include menu
h3 Help
ul
  li
    a(href='/upload/help') with Uploading XML
  li
    a(href='/enter/help') with Entering Invoices
  li
    a(href='/report/help') with Viewing Reports
h3 Advanced
ul
  li
    a(href='/query') Query Database
  li
    a(href='/users') User Management
      