extends layout

block content
  p.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
    Welcome to the sales tax program. Welcome to the sales tax program.
