doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/style.css')
    title PBR Sales Tax
    block scripts
      script(src='/jquery/dist/jquery.min.js')
  body
    #container
      #header
        include partials/header
      #menu
        include partials/menu
      #main
        #sidebar
          include partials/sidebar
        #text
          if typeof messages !== 'undefined'
            if typeof messages.error !== 'undefined'
              #error
                ul
                  each error in messages.error
                    li #{error}
            if typeof messages.info !== 'undefined'
              #info
                ul
                  each info in messages.info
                    li #{info}
          block content
      #footer
        include partials/footer