!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/style.css')
    title PBR Sales Sax
    script(src='/jquery-1.7.1.min.js')
  body
    #container
      #header
        include partials/header
      #menu
        include partials/menu
      #main
        #sidebar
          include partials/sidebar
        #text!= body
      #footer
        include partials/footer