doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/style.css')
    title PBR Sales Tax
    block scripts
      script(src='/jquery/dist/jquery.min.js')
  body
    #container
      #header
        include partials/header
      #menu
        include partials/menu
      #main
        #sidebar
          include partials/sidebar
        #text
          if typeof flash !== 'undefined'
            if typeof flash.error !== 'undefined'
              #error
                ul
                  each error in flash.error
                    li error
            if typeof flash.error !== 'undefined'
              #info
                ul
                  each info in flash.info
                    li info
          block content
      #footer
        include partials/footer