doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/print_style.css')
    title PBR Sales Tax
    block scripts
      script(src='/jquery/dist/jquery.min.js')
  body
    .printview
      block content
