extends layout
include partials/datecontrol
include partials/report

block content
  if typeof reports === 'undefined'
    form(method='post')
      div
        div
          h3 Report by Numer
          input(type='text', name='reportNumber', id='report_number')
        div 
          input(type='submit', name='numSearch', value='Search by Number')
        div
          h3 Report by Date 
          +datecontrol('monthctl', 'yearctl')
        div
          input(type='submit', name='dateSearch' value='Search by Date')
  else
      for report in reports
        +report(report)
      .summary
        .total Total
        .amount #{totals.amount.toFixed(2)}
        .tax #{totals.tax.toFixed(2)}
      .printlink
        a(href=path + '/print') Printer Friendly Version