extends layout

block content
  p Generate the report from ESC, save it locally as an XML file, and then upload it here.
  form(action='/upload', method='POST', enctype='multipart/form-data')
    label File:
    input(type='file', name='xmlfile')
    p
      input(type='submit', value='Upload')
  #loading